<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="css/cart.css">
</head>
<body class="font">
    <%- include('./common/header.ejs') %>
    <br><br><br>
    <%if(data.length>0){%>
    <div  class="container-fluid ">
        <div class="row">
            <% let total=0 %>
            <% for(let i=0; i<data.length; i++){ %>
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-2">

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img style="height: 175px;" src="http://localhost:9990/uploads/<%= data[i].book_img.data %>" class="mt-2 img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title"><%=data[i].book_name %></h4>
                            <p class="card-text"><%=data[i].author_name %></p>
                            <p class="card-text"><%=data[i].price %></p>
                            <p style="float: left" class="">Quantity:<%=data[i].quantity %></p>
                            <div class="" style="float:right;">
                              <a class="" href="/quantity_dec/<%=data[i]._id %>"><img src="icons/minus.png"></a>
                              <a class="" href="/quantity_inc/<%=data[i]._id %>"><img src="icons/plus.png"></a>
                            </div><br>
                            <a class="underline" href="/remove_cart_item/<%=data[i]._id %>" class="card-link">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>

                <!-- <div class="card" style="height: 22vh;">
                    <div class="card-body">
                      <img src="http://localhost:9990/uploads/<%= data[i].book_img.data %>" class="card-img-top img-fluid">
                      <h4 class="card-title"><%=data[i].book_name %></h4>
                      <p class="card-text"><%=data[i].author_name %></p>
                      <p class="card-text"><%=data[i].price %></p>
                      <a href="#" class="card-link">Remove</a>
                    </div>
                  </div> -->
            </div>
            <div class="col-md-4">
            </div>
            <% total= total + (data[i].quantity * data[i].price) %>
            <% } %> 
            <div class="mt-2 container-fluid d-flex justify-content-around">
              <p class="text-center display-6">Subtotal : <%=total %></p>
              <button style="height: 45px" class="btn btn-info ">Checkout</button>
            </div>

        </div>
    </div>      

    <%} else{ %>
        no data found
    <%} %>

    <%- include('./common/footer.ejs') %>
</body>
</html>