<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="css/cart.css">
</head>
<body class="font">
    <%- include('./common/header.ejs') %>
    <br><br><br>
    <%if(data.length>0){%>
    <div  class="container-fluid bg-danger">
        <div class="row">
            <% for(let i=0; i<data.length; i++){ %>
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-2">
                <div class="card" style="height: 22vh;">
                    <div class="card-body">
                      <h4 class="card-title"><%=data[i].book_name %></h4>
                      <p class="card-text"><%=data[i].author_name %></p>
                      <p class="card-text"><%=data[i].price %></p>
                      <a href="#" class="card-link">Remove</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
            </div>
            <% } %> 
            <div class="container-fluid">
            </div>

        </div>
    </div>      

    <%} else{ %>
        no data found
    <%} %>

    <%- include('./common/footer.ejs') %>
</body>
</html>